/* CSS Document */

/*********** ALGEMEEN ***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 20px;
    color: #FFFFFF;
}

h2 {
    font-size: 20px;
    color: #F27000;
}

h3 {
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}

h4 {
    font-size: 20px;
    color: #000000;
}

h5 {
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

a {
    font-size: 15px;
    font-weight: 700;
    color: #F27000;
    text-decoration: none;
}


/*********** HEADER ***********/
header {
    height: 4rem;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    top: 0;
}

/* Header DigiD logo */
header img:nth-of-type(1) {
    max-height: 3.1rem;
    width: auto;
}

/* Header Rijksoverheid logo */
header img:nth-of-type(2) {
    max-height: 4rem;
    width: auto;
}

/* Header Hamburger Menu */
/* Hamburger Container */
header div:nth-of-type(1) {
    position: relative;
    height: 6rem;
    width: auto;
}

/* Hamburger ruimte */
.hamburger {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
}

/* Hamburger midden streep */
span {
    display: block;
    background: #272727;
    height: 2px;
    width: 1rem;
    border-radius: 25px;
    margin-left: 2rem;
}

/* Hamburgeer boven en onder streep */
span::before,
span::after {
    content: '';
    position: absolute;
    display: block;
    background: #272727;
    height: 2px;
    width: 1rem;
    border-radius: 25px;
    left: 2rem;
}

/* Hamburger positie streep boven */
span::before {
    top: 41px;
}

/* Hamburger positie streep onder */
span::after {
    bottom: 41px;
}

/* Hamburger transitie */
.hamburger.active span {
    background: rgba(0, 0, 0, 0);
    transition: .5s;
}

.hamburger.active span::before {
    transform: rotate(135deg);
    top: 46px;
}

.hamburger.active span::after {
    top: 46px;
    transform: rotate(225deg);
}

nav.active {
    transform: translateX(0);
}

/* Header afbeelding */
main div:nth-of-type(1) img {
    max-width: 100vw;
    max-height: 300rem;
    margin: auto;
}


/*********** MAIN ALGMEEN ***********/
main {
    max-width: 100vw;
    height: auto;
    background-color: #F5F5F5;
    margin-top: 4rem;
}

main section {
    max-width: 92%;
    margin: 0 auto;
}


/* Eerste Section - Oranje */
main section:nth-of-type(1) {
    height: 9rem;
    width: auto;
    background-color: #E27000;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    top: -1rem;
}

main section:nth-of-type(1) div {
    display: flex;
}

main section:nth-of-type(1) div img {
    display: flex;
    max-height: 3.1rem;
    width: auto;
    margin: 0;
}

main section:nth-of-type(1) div h1 {
    position: relative;
    top: 0.6rem;
    left: 0.9rem;
}

main section:nth-of-type(1) button {
    margin-top: 0.8rem;
    padding: 0rem 1rem 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E27000;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}

main section:nth-of-type(1) button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.25rem;
}

/***************************/
/* Sections Twee en Drie - Witte achtergrond */
main section:nth-of-type(2) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}


main section:nth-of-type(3) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}


main section:nth-of-type(4) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

main section:nth-of-type(2) button,
main section:nth-of-type(3) button {
    margin-top: 0.8rem;
    padding: 0rem 1rem 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #F27000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
}

main section:nth-of-type(2) button img,
main section:nth-of-type(3) button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.25rem;
}


/***************************/

/* Section Drie */
/* Eerste Div - h2 en p */
main section:nth-of-type(4) div:nth-of-type(1) {
    padding-top: 0rem;
    display: inline-block;
}

/* Overige Divs - img, h3 en p */
/* Image en tekst naast elkaar in row */
main section:nth-of-type(4) div {
    padding: 1rem 0rem 0.5rem 0rem;
    height: auto;
    border-bottom: solid 1px #D3D3D3;
    display: flex;
}

/* Tekst onder elkaar als column*/
main section:nth-of-type(4) div div {
    display: flex;
    flex-direction: column;
    border: none;
    padding-left: 1rem;
}

main section:nth-of-type(4) div img {
    width: 35px;
    height: auto;
    align-self: flex-start;
    margin-left: 1rem;
}

/* Afstand tussen p en de rest */
main section:nth-of-type(4) div p {
    padding: 0.5rem 0rem;
}


/***************************/
/* Vijfde section - grijze achtergrond*/
main section:nth-of-type(5) {
    width: auto;
    height: 30rem;
    background-color: #F5F5F5;
}

/* Afstand tussen de divs en lijntje ertussen */
main section:nth-of-type(5) div {
    height: auto;
    padding: 1rem 0rem 1rem 0rem;
    border-bottom: solid 1px #D3D3D3;
}

main section:nth-of-type(5) div a {
    display: flex;
    align-content: center;
}

main section:nth-of-type(5) div a p {
    padding-left: 1rem;
}

/* Pijltjes ervoor */
main section:nth-of-type(5) div a img {
    width: 15px;
    height: auto;
}


/***************************/
/* Footer */
footer {
    width: auto;
    height: 20rem;
    background-color: #282828;
}

/* Blokje boven footer */
footer img {
    width: 40px;
    height: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -25px;
}

/* Linkjes in footer */
footer a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.7rem;
}

/* Positie divs */
/* Blokjes naast elkaar in row*/
footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Positieve tekst in blokjes */
/* Tekst onder elkaar in column */
footer div div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 2rem 0rem 0rem 2rem;
}


@media screen and (min-width: 601px) and (max-width: 999px) {

    /* Eerste Section - Oranje */
    main section:nth-of-type(1) {
        height: 12rem;
        padding: 2rem;
        top: -2rem;
    }

    main section:nth-of-type(1) div img {
        max-height: 4.5rem;
    }

    main section:nth-of-type(1) div h1 {
        position: relative;
        top: 0.7rem;
        left: 1rem;
        font-size: 35px;
    }

    main section:nth-of-type(1) button {
        margin-top: 1.2rem;
    }

    /*    Overige Sections */
    main section:nth-of-type(2),
    main section:nth-of-type(3),
    main section:nth-of-type(4) {
        padding: 1.2rem;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {

    /* Eerste Section - Oranje */
    main section:nth-of-type(1) {
        height: 14rem;
        width: 32vw;
        padding: 1.5rem;
    }

    main section:nth-of-type(1) div img {
        max-height: 5rem;
    }

    main section:nth-of-type(1) div h1 {
        position: relative;
        top: -0.5rem;
        left: 1rem;
        font-size: 32px;
    }

    main section:nth-of-type(1) button {
        margin-top: 1.8rem;
        width: 17rem;
    }

    /* Tweede section */
    main section:nth-of-type(2) {
        height: 14rem;
        width: 32vw;
        padding: 1.5rem;
    }

    /* Derde section */
    main section:nth-of-type(3) {
        height: 14rem;
        width: 32vw;
        padding: 1.5rem;
    }
}
