/******************************/
/*          ALGEMEEN          */
/******************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 20px;
    color: #FFFFFF;
}

h2 {
    font-size: 20px;
    color: #E27000;
}

h3 {
    font-size: 16px;
    color: #000000;
    text-decoration: underline;
}

h4 {
    font-size: 20px;
    color: #000000;
}

h5 {
    font-size: 14px;
    font-weight: 900;
    color: #FFFFFF;
}

p {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
}

a {
    font-size: 15px;
    font-weight: 700;
    color: #E27000;
    text-decoration: none;
}





/************************************/
/*          MOBIEL FORMAAT          */
/************************************/

/******************************/
/*           HEADER           */
/******************************/

/* HEADER RUIMTE */
header {
    height: 4rem;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    z-index: 10;
    top: 0;
}

/* HEADER DIGID LOGO */
header img:nth-of-type(1) {
    max-height: 3.1rem;
    width: auto;
}

/* HEADER RIJKSOVERHEID LOGO */
header img:nth-of-type(2) {
    max-height: 4rem;
    width: auto;
}


/******************************/
/*       HAMBURGER MENU       */
/******************************/

/* HAMBURGER CONTAINER */
header div:nth-of-type(1) {
    position: relative;
    height: 6rem;
    width: auto;
}

/* HAMBURGER RUIMTE */
.hamburger {
    position: relative;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    z-index: 30;
}

/* HAMBURGER STREEP MIDDEN */
span {
    display: block;
    background: #272727;
    height: 2px;
    width: 1rem;
    border-radius: 25px;
    margin-left: 2rem;
}

/* HAMBURGER STREEP BOVEN EN ONDER */
span::before,
span::after {
    content: '';
    position: absolute;
    display: block;
    background: #272727;
    height: 2px;
    width: 1rem;
    border-radius: 25px;
    left: 2rem;
}

/* HAMBURGER POSITIE STREEP MIDDEN */
span::before {
    top: 41px;
}

/* HAMBURGER POSITIE STREEP ONDER */
span::after {
    bottom: 41px;
}

/* HAMBURGER TRANSITIE STREEP MIDDEN*/
.hamburger.active span {
    background: rgba(0, 0, 0, 0);
    transition: 0.25s;
}

/* HAMBURGER TRANSITIE STREEP BOVEN */
.hamburger.active span::before {
    top: 46px;
    transform: rotate(135deg);
    transition: 0.75s;
}

/* HAMBURGER TRANSITIE STREEP ONDER */
.hamburger.active span::after {
    top: 46px;
    transform: rotate(225deg);
    transition: 0.75s;
}


/******************************/
/*          NAVIGATIE         */
/******************************/

/* NAVIGATIE RUIMTE */
nav {
    position: absolute;
    transform: translateX(-110%);
    background-color: #FFFFFF;
    width: 110%;
    height: 26rem;
    display: flex;
    transition: .4s ease-in-out;
}

/* ALS NAV ACTIEF IS, SCHUIFT IE UIT*/
nav.active {
    transform: translateX(-10%);
}

/* HOOGTE LIST ITEMS*/
nav ul li {
    height: 35px;
}

/* TEKST LIST ITEMS */
nav ul li a {
    position: relative;
    top: 15rem;
    left: 35%;
    font-size: 15px;
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

/* HOVER OVER TEKST LIST ITEMS */
nav ul li a:hover {
    color: #E27000;
    text-decoration: underline;
}

/* PIJLTJES VOOR LIST ITEMS*/
nav ul li a img {
    position: relative;
    top: 1px;
    height: 15px;
}


/******************************************/
/*             EERSTE PAGINA              */
/******************************************/

/* MAIN ALGEMEEN*/
.first {
    max-width: 100vw;
    height: auto;
    background-color: #F5F5F5;
    margin-top: 4rem;
}

/* MAIN SECTIONS */
.first section {
    max-width: 92%;
    margin: 0 auto;
}


/******************************/
/*     HEADER AFBEELDING      */
/******************************/
.first div:nth-of-type(1) img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    object-position: top left;
    margin: auto;
}


/******************************/
/*  EERSTE SECTION - ORANJE   */
/******************************/

/* EERSTE SECTION RUIMTE */
.first div section:nth-of-type(1) {
    height: 9rem;
    width: auto;
    background-color: #E27000;
    padding: 1rem;
    border-radius: 5px;
    position: relative;
    top: -1rem;
    padding: 1em;
}

/* EERSTE SECTION AFBEELDING EN TITEL TEKST FLEXEN */
.first div section:nth-of-type(1) div {
    display: flex;
}

/* EERSTE SECTION DIGID LOGO */
.first div section:nth-of-type(1) div img {
    display: flex;
    max-height: 3.1rem;
    width: auto;
    margin: 0;
    position: relative;
    left: 0;
}

/* EERSTE SECTION TITEL TEKST */
.first div section:nth-of-type(1) div h1 {
    position: relative;
    top: -0.1rem;
    left: 1rem;
}

/* EERSTE SECTION BUTTON */
.first div section:nth-of-type(1) button {
    margin-top: 0.8rem;
    padding: 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #E27000;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    outline: none;
    appearance: none;
}

.first div section:nth-of-type(1) button:hover {
    background-color: #F5F5F5;
}

/* EERSTE SECTION BUTTON PIJLTJE */
.first div section:nth-of-type(1) button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.25rem;
}


/*********************************/
/* SECTIONS TWEE DRIE VIER - WIT */
/*********************************/

/* TWEEDE SECTION RUIMTE */
.first div section:nth-of-type(2) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* DERDE SECTION RUIMTE */
.first div section:nth-of-type(3) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* TWEEDE EN DERDE SECTION BUTTONS */
.first div section:nth-of-type(2) button,
.first div section:nth-of-type(3) button {
    margin-top: 0.8rem;
    padding: 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #E27000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    cursor: pointer;
    outline: none;
    appearance: none;
}


.first div section:nth-of-type(2) button:hover,
.first div section:nth-of-type(3) button:hover {
    background-color: #BF6000;
}

/* TWEEDE EN DERDE SECTION BUTTONS PIJLTJES */
.first div section:nth-of-type(2) button img,
.first div section:nth-of-type(3) button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.25rem;
}

/* VIERDE SECTION RUIMTE */
.first > section:nth-of-type(1) {
    height: auto;
    background-color: #FFFFFF;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* VIERDE SECTION POSITIE TITEL TEKST EN P */
.first > section:nth-of-type(1) div:nth-of-type(1) {
    padding-top: 0rem;
    display: inline-block;
}

/* VIERDE SECTION POSITIE ITEMS */
.first > section:nth-of-type(1) div {
    padding: 1rem 0rem 0.5rem 0rem;
    height: auto;
    border-bottom: solid 1px #D3D3D3;
    display: flex;
}

/* VIERDE SECTION ITEMS ALS COLUMN */
.first > section:nth-of-type(1) div div {
    display: flex;
    flex-direction: column;
    border: none;
    padding-left: 1rem;
}

/* VIERDE SECTION POSITIE AFBEELDINGEN */
.first > section:nth-of-type(1) div img {
    width: 35px;
    height: auto;
    align-self: flex-start;
    margin-left: 1rem;
}

/* VIERDE SECTION PIJLTJES */
.first > section:nth-of-type(1) a img {
    position: relative;
    top: 3px;
    left: -16px;
    height: 16px;
    width: auto;
}

.first > section:nth-of-type(1) a:hover {
    color: #BF6000;
}

/* VIERDE SECTION AFSTAND TUSSEN P EN OVERIGE ITEMS */
.first > section:nth-of-type(1) div p {
    padding: 0.5rem 0rem;
}


/******************************/
/*   VIJFDE SECTION - GRIJS   */
/******************************/

/* VIJFDE SECTION RUIMTE */
.first > section:nth-of-type(2) {
    width: auto;
    height: 30rem;
    background-color: #F5F5F5;
}

/* VIJFDE SECTION AFSTAND TUSSEN DIVS */
.first > section:nth-of-type(2) div {
    height: auto;
    padding: 1rem 0rem;
    border-bottom: solid 1px #D3D3D3;
}

/* VIJFDE SECTION A */
.first > section:nth-of-type(2) div a {
    display: flex;
    align-content: center;
}

/* VIJFDE SECTION P */
.first > section:nth-of-type(2) div a p {
    padding-left: 1rem;
}

.first > section:nth-of-type(2) div p:hover {
    font-weight: 600;
}


/* VIJFDE SECTION PIJLTJES */
.first > section:nth-of-type(2) div a img {
    width: 15px;
    height: auto;
}


/******************************/
/*           FOOTER           */
/******************************/

/* FOOTER RUIMTE */
footer {
    width: auto;
    height: 20rem;
    background-color: #282828;
}

/* FOOTER BLAUW BLOKJE */
footer img {
    width: 40px;
    height: 25px;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -25px;
}

/* FOOTER LINKJES */
footer a {
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 1.7rem;
}

/* FOOTER POSITIE DIVS - NAAST ELKAAR, ROW */
footer div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* FOOTER POSITIE TEKST IN DIVS - ONDER ELKAAR, COLUMN */
footer div div {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    padding: 2rem 0rem 0rem 2rem;
}




/************************************/
/*          MIDDEN FORMAAT          */
/************************************/

@media screen and (min-width: 601px) and (max-width: 999px) {

    /******************************/
    /*          NAVIGATIE         */
    /******************************/

    /* TEKST LIST ITEMS */
    nav ul li a {
        left: 60%;
    }


    /******************************/
    /*           HEADER           */
    /******************************/

    /* HEADER AFBEELDING */
    .first div:nth-of-type(1) img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: top left;
        margin: auto;
    }


    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION RUIMTE */
    .first div section:nth-of-type(1) {
        height: 12rem;
        padding: 2rem;
        top: -2rem;
    }

    /* EERSTE SECTION DIGID LOGO*/
    .first div section:nth-of-type(1) div img {
        max-height: 4.5rem;
        left: 0;
    }

    /* EERSTE SECTION TITEL TEKST */
    .first div section:nth-of-type(1) div h1 {
        top: 0.7rem;
        left: 1.9rem;
        font-size: 35px;
    }

    /* EERSTE SECTION BUTTON */
    .first div section:nth-of-type(1) button {
        margin-top: 1.2rem;
    }

    /******************************/
    /*  SECTIONS TWEE DRIE VIER   */
    /******************************/

    .first div section:nth-of-type(2),
    .first div section:nth-of-type(3),
    .first > section:nth-of-type(1) {
        padding: 1.2rem;
        border-radius: 5px;
        margin-bottom: 2rem;
    }
}




/************************************/
/*           GROOT FORMAAT          */
/************************************/

@media screen and (min-width: 1000px) and (max-width: 3000px) {

    /* MAIN ALGEMEEN*/
    .first {
        margin-top: 8rem;
    }

    /******************************/
    /*          NAVIGATIE         */
    /******************************/
    /* HEADER RUIMTE */
    header {
        height: 8rem;
    }

    /* HEADER DIGID LOGO */
    header img:nth-of-type(1) {
        position: relative;
        top: -2rem;
    }

    /* HEADER RIJKSOVERHEID LOGO */
    header img:nth-of-type(2) {
        position: relative;
        top: -2rem;
    }


    /* HAMBURGER CONTAINER */
    header div:nth-of-type(1) {
        opacity: 0;
    }

    /* NAVIGATIE RUIMTE */
    nav {
        position: absolute;
        transform: translateY(100%);
        width: 100%;
        height: 2rem;
        margin: 0 auto;
    }

    header nav ul {
        position: relative;
        top: -6rem;
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }


    header nav ul a {
        display: block;
        color: #000000;
        font-weight: 500;
        font-size: 1em;
        text-decoration: none;
        position: relative;
        top: 6rem;
        left: 0;
    }

    /* PIJLTJES VOOR LIST ITEMS*/
    nav ul li a img {
        display: none;
    }


    /******************************/
    /*     HEADER AFBEELDING      */
    /******************************/

    .first div:nth-of-type(1) img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        object-position: top left;
        margin: auto;
    }


    /******************************/
    /* GRID EERSTE DRIE SECTIONS  */
    /******************************/

    /* GRID */
    .first > div:nth-of-type(2) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: relative;
        top: -5rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }


    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION RUIMTE */
    .first div section:nth-of-type(1) {
        height: 15rem;
        width: 22rem;
        padding: 1.9rem;
        top: 0;
    }

    /* EERSTE SECTION AFBEELDING */
    .first div section:nth-of-type(1) div img {
        max-height: 4rem;
        position: relative;
        top: 0.2rem;
    }

    /* EERSTE SECTION TITEL TEKST */
    .first div section:nth-of-type(1) div h1 {
        top: -0.2rem;
        left: 1.9rem;
        font-size: 31px;
    }

    /* EERSTE SECTION BUTTON */
    .first div section:nth-of-type(1) button {
        position: relative;
        top: 2.2rem;
        width: 15rem;
        font-size: 15px;
    }


    /******************************/
    /*  TWEEDE EN DERDE SECTION   */
    /******************************/

    /* TWEEDE EN DERDE SECTION RUIMTE */
    .first div section:nth-of-type(2),
    .first div section:nth-of-type(3) {
        height: 15rem;
        width: auto;
        padding: 1.9rem 1.5rem;
    }

    /* TWEEDE EN DERDE SECTION TITEL TEKST */
    .first div section:nth-of-type(2) h2,
    .first div section:nth-of-type(3) h2 {
        font-size: 25px;
        padding-bottom: 10px;
    }

    /* TWEEDE EN DERDE SECTION TEKST */
    .first div section:nth-of-type(2) p,
    .first div section:nth-of-type(3) p {
        font-size: 17px;
    }

    /* TWEEDE SECTION BUTTON */
    .first div section:nth-of-type(2) button {
        position: relative;
        top: 1.9rem;
    }

    /* DERDE SECTION TEKST */
    .first div section:nth-of-type(3) button {
        position: relative;
        top: 0.45rem;
    }


    /******************************/
    /*    VIERDE SECTION - WIT    */
    /******************************/

    /* VIERDE SECTION GRID 2X2 */
    .first > section:nth-of-type(1) {
        margin-top: -2rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* VIERDE SECTION GRID EERSTE DEEL GROOT */
    .first > section:nth-of-type(1) div:nth-of-type(1) {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}




/************************************/
/*      GROOT, TUSSEN FORMAAT 1     */
/************************************/

@media screen and (min-width: 1120px) and (max-width: 3000px) {

    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION BUTTON */
    .first div section:nth-of-type(1) button {
        position: relative;
        top: 2.3rem;
        width: 15rem;
        font-size: 15px;
    }


    /******************************/
    /*    DERDE SECTION - WIT     */
    /******************************/

    /* DERDE SECTION BUTTON */
    .first div section:nth-of-type(3) button {
        position: relative;
        top: 1.9rem;
    }
}




/************************************/
/*      GROOT, TUSSEN FORMAAT 2     */
/************************************/

@media screen and (min-width: 1250px) and (max-width: 3000px) {

    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION RUIMTE */
    .first div section:nth-of-type(1) {
        width: 30rem;
    }
}




/************************************/
/*      GROOT, TUSSEN FORMAAT 3     */
/************************************/

@media screen and (min-width: 1500px) and (max-width: 3000px) {

    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION RUIMTE */
    .first div section:nth-of-type(1) {
        width: 30rem;
    }

    /* EERSTE SECTION DIGID LOGO */
    .first div section:nth-of-type(1) div img {
        max-height: 6rem;
    }

    /* EERSTE SECTION TITEL TEKST */
    .first div section:nth-of-type(1) div h1 {
        top: -0.3rem;
        font-size: 40px;
    }

    /* EERSTE SECTION BUTTON */
    .first div section:nth-of-type(1) button {
        top: 0.7rem;
    }


    /******************************/
    /*    TWEEDE SECTION - WIT    */
    /******************************/

    /* TWEEDE SECTION BUTTON*/
    .first div section:nth-of-type(2) button {
        top: 1.9rem;
    }


    /******************************/
    /*    DERDE SECTION - WIT     */
    /******************************/

    /* DERDE SECTION BUTTON*/
    .first div section:nth-of-type(3) button {
        top: 1.9rem;
    }
}




/************************************/
/*      GROOT, TUSSEN FORMAAT 4     */
/************************************/

@media screen and (min-width: 1600px) and (max-width: 3000px) {

    /******************************/
    /*  EERSTE SECTION - ORANJE   */
    /******************************/

    /* EERSTE SECTION TITEL TEKST */
    .first div section:nth-of-type(1) div h1 {
        width: 18rem;
    }


    /******************************/
    /*    TWEEDE SECTION - WIT    */
    /******************************/

    /* TWEEDE SECTION BUTTON*/
    .first div section:nth-of-type(2) button {
        top: 3.3rem;
    }

}













/******************************************/
/*             TWEEDE PAGINA              */
/******************************************/

/* MAIN ALGEMEEN */
.second {
    max-width: 100vw;
    height: auto;
    background-color: #FFFFFF;
}

/* MAIN SECTIONS */
.second section {
    max-width: 92%;
    margin: 0 auto;
}

.second h6 {
    font-size: 35px;
    color: #000000;
    font-weight: 400;
    line-height: 35px;
}

.second a {
    color: #000000;
}


/******************************/
/*       HOME BUTTON        */
/******************************/

/* HOME BUTTON RUIMTE*/
.second > div:nth-of-type(1) {
    height: 4rem;
    width: auto;
}

/* HOME BUTTON TEKST */
.second > div:nth-of-type(1) a {
    position: relative;
    top: 6rem;
    left: 1rem;
}

/* HOME BUTTON PIJLTJE */
.second > div:nth-of-type(1) a img {
    height: 15px;
    width: auto;
    transform: scaleX(-1);
    position: relative;
    top: 0.2rem;
    transform: rotate(180deg);
}


/******************************/
/*      EERSTE SECTION        */
/******************************/

/* EERSTE SECTION RUIMTE */
.second section:nth-of-type(1) {
    height: 18.5rem;
}

/* EERSTE SECTION TITEL TEKST */
.second section:nth-of-type(1) h6 {
    line-height: 40px;
    padding-bottom: 10px;
}

/* EERSTE SECTION TITEL TEKST */
.second section:nth-of-type(1) h6,
.second section:nth-of-type(1) p {
    position: relative;
    top: 6rem;
}

/******************************/
/*   SECTION TWEE VIER ZES    */
/******************************/

/* TWEEDE SECTION RUIMTE */
.second section:nth-of-type(2) {
    height: 22rem;
}

/* VIERDE SECTION RUIMTE */
.second section:nth-of-type(4) {
    height: 26rem;
    padding-top: 3rem;
}

/* ZESDE SECTION RUIMTE */
.second section:nth-of-type(6) {
    height: 12.5rem;
    margin: 3rem 1rem;

}

/* TWEEDE, VIERDE EN ZESDE SECTION TITEL TEKST */
.second section:nth-of-type(2) h2,
.second section:nth-of-type(4) h2,
.second section:nth-of-type(6) {
    padding-bottom: 5px;
}

/* TWEEDE EN VIERDE SECTION BUTTON */
.second section:nth-of-type(2) button,
.second section:nth-of-type(4) button {
    position: relative;
    top: 0.2rem;
    margin: 1rem 0rem;
    padding: 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #E27000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    cursor: pointer;
    outline: none;
    appearance: none;
}

.second section:nth-of-type(2) button:hover,
.second section:nth-of-type(4) button:hover {
    background-color: #BF6000;
}

/* TWEEDE EN VIERDE SECTION BUTTON TEKST */
.second section:nth-of-type(2) button a,
.second section:nth-of-type(4) button a {
    position: relative;
    top: -0.25rem;
}

/* TWEEDE EN VIERDE SECTION BUTTON PIJLTJE */
.second section:nth-of-type(2) button img,
.second section:nth-of-type(4) button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.2rem;
}

/* TWEEDE SECTION TWEEDE STUK TEKST */
.second section:nth-of-type(2) p:nth-of-type(2) {
    position: relative;
    top: -50px;
    left: 1rem;
    font-weight: 600;
}

/* VIERDE SECTION TWEEDE STUK TEKST */
.second section:nth-of-type(4) p:nth-of-type(2) {
    position: relative;
    top: -14px;
    left: 1rem;
    font-weight: 600;
    width: 90%;
}

/* TWEEDE SECTION LIJN */
.second section:nth-of-type(2) span {
    position: relative;
    left: -2rem;
    top: 9px;
    display: block;
    background: #E27000;
    height: 60px;
    width: 2.5px;
    border-radius: 5px;
}

/* VIERDE SECTION LIJN */
.second section:nth-of-type(4) span {
    position: relative;
    left: -2rem;
    top: 25px;
    display: block;
    background: #E27000;
    height: 40px;
    width: 2.5px;
    border-radius: 5px;
}

/* ZESDE SECTION A LINK */
.second section:nth-of-type(6) a {
    text-decoration: underline;
}

/* DISPLAY NONE OP DE STREEPJES DIE BLIJKBAAR MEEKOMEN VAN MN HAMBURGER MENU OMDAT DIT OOK EEN SPAN IS, DIT IS HET ENIGE WAT IK ÉCHT NIET WEG KREEG */
.second section:nth-of-type(2) span::before,
.second section:nth-of-type(2) span::after,
.second section:nth-of-type(4) span::before,
.second section:nth-of-type(4) span::after {
    display: none;
}


/******************************/
/*         DROPDOWN 1         */
/******************************/

/* DROPDOWN RUIMTE */
.second section:nth-of-type(3) {
    position: relative;
    display: inline-block;
    height: 12rem;
}

/* DROPDOWN BUTTON */
.second section:nth-of-type(3) > button {
    width: 100vw;
    height: auto;
    background-color: #F5F5F5;
    color: #000000;
    padding: 20px 16px;
    font-size: 18px;
    text-align: left;
    box-shadow: 0px 1px 0px #000000;
    border: 0;
    outline: 0;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.second section:nth-of-type(3) > button:hover {
    background-color: #DDDDDD;
}


/* DROPDOWN PIJLTJE */
.second section:nth-of-type(3) button img {
    float: right;
    width: 20px;
    height: auto;
    transform: rotate(90deg);
}

/* DROPDOWN UITKLAP DEEL */
.second section:nth-of-type(3) div {
    display: none;
    width: 100%;
    height: 33rem;
    padding: 1.5rem;
    z-index: 1;
}

/* DROPDOWN UITKLAP TEKST */
.second section:nth-of-type(3) div p {
    margin-bottom: 20px;
}

/* DROPDOWN UITKLAP PUNTEN */
.second section:nth-of-type(3) div li {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    display: block;
    position: relative;
    left: 1rem;
    margin-bottom: 10px;
}

/* DROPDOWN UITKLAP PUNT LAATSTE BEETJE MARGIN VOOR MEER AFSTAND TOT TWEEDE BUTTON */
.second section:nth-of-type(3) div li:nth-of-type(4) {
    margin-bottom: 30px;
}

/* DROPDOWN UITKLAP RONDJES */
.second section:nth-of-type(3) div li img {
    position: relative;
    top: -1px;
    width: 7px;
    height: auto;
}

/* DROPDOWN UITKLAP BUTTON */
.second section:nth-of-type(3) div button {
    position: relative;
    top: 0.2rem;
    left: -1rem;
    margin: 0rem 1rem;
    padding: 0rem 1rem;
    width: auto;
    height: 3rem;
    background-color: #E27000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.20);
    cursor: pointer;
    outline: none;
    appearance: none;
}


.second section:nth-of-type(3) div button:hover {
    background-color: #BF6000;
}

/* DROPDOWN UITKLAP BUTTON PIJLTJE */
.second section:nth-of-type(3) div button img {
    width: 18px;
    height: auto;
    position: relative;
    left: 0.25rem;
    top: 0.2rem;
    transform: rotate(0deg);
}

/* DROPDOWN UITKLAPPEN */
.second section:nth-of-type(3) div:nth-of-type(1).active {
    display: block;
}

/* DROPDOWN PIJTLJE DRAAIEN */
.second section:nth-of-type(3) button:nth-of-type(1) img.turn {
    transform: rotate(270deg);
    transition: 0.5s;
}



/******************************/
/*         DROPDOWN 2         */
/******************************/

/* DROPDOWN BUTTON */
.second section:nth-of-type(3) > button:nth-of-type(2) {
    position: relative;
    top: 1px;
    box-shadow: none;
}

/* DROPDOWN UITKLAPPEN */
.second section:nth-of-type(3) div:nth-of-type(2).active {
    display: block;
}

/* DROPDOWN PIJTLJE DRAAIEN */
.second section:nth-of-type(3) button:nth-of-type(3) img.turn {
    transform: rotate(270deg);
    transition: 0.5s;
}

/******************************/
/*         DROPDOWN 3         */
/******************************/

/* DROPDOWN RUIMTE */
.second section:nth-of-type(5) {
    position: relative;
    display: inline-block;
    height: 12rem;
}

/* DROPDOWN BUTTON */
.second section:nth-of-type(5) > button {
    width: 100vw;
    height: auto;
    background-color: #F5F5F5;
    color: #000000;
    padding: 20px 16px;
    font-size: 18px;
    text-align: left;
    box-shadow: 0px 1px 0px #000000;
    border: 0;
    outline: 0;
    cursor: pointer;
    outline: none;
    appearance: none;
}

.second section:nth-of-type(5) > button:hover {
    background-color: #DDDDDD;
}

/* DROPDOWN PIJLTJE */
.second section:nth-of-type(5) button img {
    float: right;
    width: 20px;
    height: auto;
    transform: rotate(90deg);
}

/* DROPDOWN UITKLAP DEEL */
.second section:nth-of-type(5) div {
    display: none;
    width: 100%;
    height: 28rem;
    padding: 1.5rem;
    z-index: 1;
}

/* DROPDOWN UITKLAP TEKST */
.second section:nth-of-type(5) div p {
    margin-bottom: 20px;
}

/* DROPDOWN UITKLAP PUNTEN */
.second section:nth-of-type(5) div li {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    display: block;
    position: relative;
    left: 1rem;
    margin-bottom: 10px;
}

/* DROPDOWN UITKLAP PUNT LAATSTE BEETJE MARGIN VOOR MEER AFSTAND TOT TWEEDE BUTTON */
.second section:nth-of-type(5) div li:nth-of-type(4) {
    margin-bottom: 10px;
}

/* VIERDE SECTION LIJN */
.second section:nth-of-type(5) span {
    position: relative;
    left: -2rem;
    top: 40px;
    display: block;
    background: #E27000;
    height: 40px;
    width: 2.5px;
    border-radius: 5px;
}

/* DISPLAY NONE OP DE STREEPJES DIE BLIJKBAAR MEEKOMEN VAN MN HAMBURGER MENU OMDAT DIT OOK EEN SPAN IS, DIT IS HET ENIGE WAT IK ÉCHT NIET WEG KREEG */
.second section:nth-of-type(5) span::before,
.second section:nth-of-type(5) span::after {
    display: none;
}


/* DROPDOWN UITKLAP TEKST */
.second section:nth-of-type(5) div:nth-of-type(1) p:nth-of-type(2) {
    position: relative;
    left: 1rem;
    font-weight: 600;
}

/* DROPDOWN UITKLAPPEN */
.second section:nth-of-type(5) div.active {
    display: block;
}

/* DROPDOWN PIJTLJE DRAAIEN */
.second section:nth-of-type(5) button img.turn {
    transform: rotate(270deg);
    transition: 0.5s;
}


/******************************/
/*         DROPDOWN 4         */
/******************************/

/* DROPDOWN BUTTON */
.second section:nth-of-type(5) > button:nth-of-type(2) {
    position: relative;
    top: 1px;
    box-shadow: none;
}

/* DROPDOWN UITKLAPPEN */
.second section:nth-of-type(5) div:nth-of-type(2).active {
    display: block;
}

/* DROPDOWN PIJTLJE DRAAIEN */
.second section:nth-of-type(5) button:nth-of-type(3) img.turn {
    transform: rotate(270deg);
    transition: 0.5s;
}

/* LIJNTJE BIJ TEKST */
.second section:nth-of-type(5) div:nth-of-type(2) span {
    position: relative;
    left: -2rem;
    top: 40px;
    display: block;
    background: #E27000;
    height: 40px;
    width: 2.5px;
    border-radius: 5px;
}



/************************************/
/*       HEEL KLEIN  FORMAAT        */
/************************************/
@media screen and (min-width: 300px) and (max-width: 600px) {

    /******************************/
    /*         DROPDOWN 1         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(3) > button {
        font-size: 16px;
    }


    /* DROPDOWN UITKLAP DEEL */
    .second section:nth-of-type(3) div {
        height: 37rem;
    }



    /******************************/
    /*         DROPDOWN 3         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(5) > button {
        font-size: 16px;
    }


    /* DROPDOWN UITKLAP DEEL */
    .second section:nth-of-type(5) div {
        height: 34rem;
    }
}






/************************************/
/*          MIDDEN FORMAAT          */
/************************************/

@media screen and (min-width: 601px) and (max-width: 3000px) {

    /* MAIN ALGEMEEN */
    .second {
        max-width: 70vw;
        margin: 0 auto;
    }


    /******************************/
    /*         DROPDOWN 1         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(3) > button {
        width: 70vw;
    }


    /******************************/
    /*         DROPDOWN 3         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(5) > button {
        width: 70vw;
    }
}


/************************************/
/*     MIDDEN, TUSSEN FORMAAT 1     */
/************************************/
@media screen and (min-width: 730px) and (max-width: 3000px) {

    /******************************/
    /*      EERSTE SECTION        */
    /******************************/

    /* EERSTE SECTION RUIMTE */
    .second section:nth-of-type(1) {
        height: 15rem;
    }


    /******************************/
    /*   SECTION TWEE VIER ZES    */
    /******************************/

    /* TWEEDE SECTION RUIMTE */
    .second section:nth-of-type(2) {
        height: 20rem;
    }
}



/************************************/
/*     MIDDEN, TUSSEN FORMAAT 2     */
/************************************/
@media screen and (min-width: 742px) and (max-width: 3000px) {

    /******************************/
    /*   SECTION TWEE VIER ZES    */
    /******************************/

    /* TWEEDE SECTION TWEEDE STUK TEKST */
    .second section:nth-of-type(2) p:nth-of-type(2) {
        top: -30px;
    }


    /* TWEEDE SECTION LIJN */
    .second section:nth-of-type(2) span {
        top: 11px;
        height: 40px;
    }
}



/************************************/
/*           GROOT FORMAAT          */
/************************************/
@media screen and (min-width: 1000px) and (max-width: 3000px) {

    /* MAIN ALGEMEEN */
    .second {
        max-width: 60vw;
        margin-top: 4rem;
    }

    /******************************/
    /*       HOME BUTTON        */
    /******************************/

    /* HOME BUTTON TEKST */
    .second > div:nth-of-type(1) a {
        position: relative;
        top: 6rem;
        left: 1.5rem;
    }


    /******************************/
    /*         DROPDOWN 1         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(3) > button {
        width: 60vw;
    }


    /******************************/
    /*         DROPDOWN 3         */
    /******************************/

    /* DROPDOWN BUTTON */
    .second section:nth-of-type(5) > button {
        width: 60vw;
    }
}


/************************************/
/*           GROOTSTE FORMAAT          */
/************************************/
@media screen and (min-width: 1240px) and (max-width: 3000px) {

    /******************************/
    /*   SECTION TWEE VIER ZES    */
    /******************************/

    /* TWEEDE SECTION TWEEDE STUK TEKST */
    .second section:nth-of-type(4) p:nth-of-type(2) {
        top: 0;
    }


    /* TWEEDE SECTION LIJN */
    .second section:nth-of-type(4) span {
        top: 21px;
        height: 20px;
    }


    /******************************/
    /*         DROPDOWN 4         */
    /******************************/

    /* DROPDOWN TWEEDE STUK TEKST */
    .second section:nth-of-type(5) p:nth-of-type(2) {
        top: 0;
    }


    /* DROPDOWN LIJN */
    .second section:nth-of-type(5) span {
        top: 21px;
        height: 20px;
    }
}
